@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.gradient-heading {
	@apply bg-clip-text text-transparent box-decoration-clone;

	@apply bg-gradient-to-br;

	@apply from-primary-500 via-tertiary-500 to-secondary-500;
}

.secondary-text-color {
	@apply text-gray-600 dark:text-gray-400
}

body {
	background-image: radial-gradient(at 50% 80%, rgba(var(--color-primary-500) / 0.1) 83px, transparent 100%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

textarea {
	field-sizing: content
}

code {
	text-wrap: wrap;
}

span.iconify {
	flex-shrink: 0;
}