@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.gradient-heading {
	@apply bg-clip-text text-transparent box-decoration-clone;

	@apply bg-gradient-to-br;

	@apply from-primary-500 via-tertiary-500 to-secondary-500;
}

body {
	background-image:
		radial-gradient(at 0% 0%, rgba(var(--color-secondary-500) / 0.33) 0px, transparent -50%),
		radial-gradient(at 80% 1%, rgba(var(--color-primary-500) / 0.33) 0px, transparent 50%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
